// ---------- SASS Variables ----------

// Colors
$white: #fff;
$black: #666;
$blue: #369;
$light-blue: saturate(lighten($blue, 33), 12);
$dark-blue: darken($blue, 3);

// Fonts
$architects-daughter: 'Architects Daughter', sans-serif;
$lato: 'Lato', sans-serif;

// ---------- SASS Functions ----------

// Functions
@function calculateRem($size) {
  $remSize: $size / 10px;
  @return $remSize * 1rem;
}

// ---------- SASS Mixins ----------

@mixin font-size($size: 16px) {
  font-size: $size;
  font-size: calculateRem($size);
}

// *** insert #1 ***

// ---------- Tag Selectors ----------

html {
  font-size: 62.5%;
}

body {
  color: $black;
  font-family: $lato;
  @include font-size;
}

article {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;

  // *** insert #2 ***
}

section {
  margin: 0 20px;
}

a {
  color: $dark-blue;
}

p {
  margin: 5px 0 10px 0;
}

h1 {
  font: 36px/1 $architects-daughter;
  margin: 10px 0 15px;
  text-align: center;

  // *** insert #3 ***

}

h2 {
  border-bottom: solid 1px lighten($blue, 50);
  color: $dark-blue;
  font: bold 36px/ $architects-daughter;
  margin: 30px 0 20px;
  text-align: center;
}

h3 {
  color: $light-blue;
  font: bold 20px/1 $architects-daughter;
  margin: 0;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

// ---------- ID Selectors ----------

.bg-wrapper {
  background: url('../img/hero-bg.png');
  color: $white;
}

#nav-top {

  margin-top: 20px;

  ul {

    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    li {
      padding: 10px 0;
      border-top: solid 1px $white;
      text-align: center;

      a {
        color: #fff;
        font-family: $architects-daughter;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    // *** insert #4 ***

  }
}

#what-i-do-container, #skills-container, #projects-container {

  // *** insert #5 ***

}

#social-container {

  // *** insert #6 ***

  margin-bottom: 20px;
}

// ---------- Class Selectors ----------

.tag-line {
  font: normal normal normal 18px/1 $architects-daughter;
  color: $light-blue;
  margin: 0 0 10px 0;
  text-align: center;

  // *** insert #7 ***

}

.contact-icon {
  display: inline-block;
  margin: 10px;
}
